<div class="mb-4" hx-target="this" hx-swap="innerHTML">
    <a href hx-trigger="click" hx-get="{% url "htmx-edit-module" module.pk %}">Edit</a>
    <p><span class="fw-semibold">Active:</span> {{ module.is_active }}</p>
    <p>
    <form hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'>
        <span class="fw-semibold">URL:</span> {{ module.url }}
        <input type="hidden" name="url" value="{{ module.url }}">
        <button class="btn btn-outline-secondary btn-sm ms-2" hx-trigger="click"
                hx-post="{% url "htmx-call-url" %}" hx-target="this" hx-swap="innerHTML">
            Check URL
        </button>
    </form>
    </p>
    <p><span class="fw-semibold">Pagination count:</span> {{ module.pagination }}</p>
    <p><span class="fw-semibold">HTML tag:</span> {{ module.container_html_tag }}</p>
    <p><span class="fw-semibold">HTML tag class:</span> {{ module.container_html_tag_class }}
    </p>
    <p><span class="fw-semibold">Selector:</span> {{ module.container_selector }}</p>
</div>