<div class="mb-4" hx-target="this" hx-swap="innerHTML">
    <p><span class="fw-semibold">Active:</span> {{ module.is_active }}</p>
    <p>
    <form hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'>
        <span class="fw-semibold">URL:</span> {{ module.url }}
        <input type="hidden" name="url" value="{{ module.url }}">
        <button class="btn btn-outline-secondary btn-sm ms-2" hx-trigger="click"
                hx-post="{% url "htmx-call-url" %}" hx-target="this" hx-swap="innerHTML">
            Check URL
        </button>
    </form>
    <p><span class="fw-semibold">Pagination count:</span> {{ module.pagination }}</p>
    <p><span class="fw-semibold">CSS selector:</span> {{ module.css_selector }}</p>
    <div class="d-flex justify-content-start">
        <button class="btn btn-outline-primary btn-sm me-3" hx-trigger="click"
                hx-get="{% url "htmx-edit-module" module.pk %}">
            Edit
        </button>
        <button class="btn btn-outline-success btn-sm me-3" hx-trigger="click" hx-target="#result" hx-swap="innerHTML"
                hx-get="{% url "htmx-test-module" module.pk %}">Test run
        </button>
        <form hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'>
            <button class="btn btn-outline-danger btn-sm me-3" hx-confirm="The module will be deleted. Are you sure?"
                    hx-trigger="click" hx-post="{% url "htmx-delete-module" module.pk %}">Delete
            </button>
        </form>
    </div>
</div>