{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Your projects</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Interval</th>
                                <th>Last run</th>
                                <th>Modules count</th>
                                <th>Date created</th>
                                <th>Is active</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td><a href="{% url "project" project.id %}">{{ project.name|truncatechars:25 }}</a></td>
                                    <td>{{ project.check_interval }} hour{{ project.check_interval|pluralize }}</td>
                                    <td>{{ project.last_run }}</td>
                                    <td>{{ project.modules.count }}</td>
                                    <td>{{ project.date_created }}</td>
                                    <td>
                                        <div class="badge text-bg-success">{{ project.is_active }}</div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="7">No projects found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}