{% extends "base.html" %}

{% block title %}Title{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <!-- htmx edit project -->
                <div class="card-body" hx-target="this" hx-swap="innerHTML">
                    {% include "monitor/_project_data.html" %}
                </div>
                <!-- htmx edit project END -->
                <div class="card-body">
                    <h2 class="card-title">Modules</h2>
                    {% for unit in project_units %}
                        <ul class="" hx-post="{% url "htmx-unit-items" unit.pk %}"
                            hx-target="#result" hx-swap="innerHTML" hx-trigger="click"
                            id="unit-{{ unit.pk }}" hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'>
                            <li>Active: {{ unit.is_active }}</li>
                            <li>URL: {{ unit.url }}</li>
                            <li>Page count: {{ unit.pagination }}</li>
                            <li>container_html_tag: {{ unit.container_html_tag }}</li>
                            <li>container_html_tag_class: {{ unit.container_html_tag_class }}</li>
                            <li>container_selector: {{ unit.container_selector }}</li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div id="result"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}