{% extends "base.html" %}

{% block title %}Title{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9 grid-margin stretch-card">
            <div class="card">
                <!-- htmx get/edit project data -->
                <div class="card-body" hx-target="this" hx-swap="innerHTML">
                    {% include "monitor/_project_data.html" %}
                </div>
                <!-- htmx get/edit project data END -->
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p><span class="fw-semibold">Last run:</span> {{ project.last_run }}</p>
                    <p><span class="fw-semibold">Modules:</span> {{ project.modules.count }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Modules in this project</h2>
                    {% for module in project.modules.all %}
                        <div>
                            <p><span class="fw-semibold">Active:</span> {{ module.is_active }}</p>
                            <p>
                                <form hx-headers='{ "X-CSRFToken": "{{ csrf_token }}" }'>
                                    <span class="fw-semibold">URL:</span> {{ module.url }}
                                    <input type="hidden" name="url" value="{{ module.url }}">
                                    <button class="btn btn-outline-secondary btn-sm ms-2" hx-trigger="click"
                                            hx-post="{% url "htmx-call-url" %}" hx-swap="innerHTML">Check URL
                                    </button>
                                </form>
                            </p>
                            <p><span class="fw-semibold">Pagination count:</span> {{ module.pagination }}</p>
                            <p><span class="fw-semibold">HTML tag:</span> {{ module.container_html_tag }}</p>
                            <p><span class="fw-semibold">HTML tag class:</span> {{ module.container_html_tag_class }}
                            </p>
                            <p><span class="fw-semibold">Selector:</span> {{ module.container_selector }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div id="result"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}